.top-stage {
    position: relative;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 200px solid green;
}

.middle-stage {
    position: relative;
    left: 43%;
    width: 0;
    height: 0;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-bottom: 220px solid green;
}

.bottom-stage {
    position: relative;
    left: 41%;
    width: 0;
    height: 0;
    border-left: 220px solid transparent;
    border-right: 220px solid transparent;
    border-bottom: 250px solid green;
}

.odd,
.even {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.odd {
    background-color: orange;
    animation: orange 1s linear infinite;
}

.even {
    background-color: darkblue;
    animation: darkblue 1s linear infinite;
}

.top-stage :nth-child(1) {
    left: -75px;
    top: 40px;
}

.top-stage :nth-child(2) {
    left: -25px;
    top: 55px;
}

.top-stage :nth-child(3) {
    left: 25px;
    top: 70px;
}

.top-stage :nth-child(4) {
    left: 50px;
    top: 115px;
}

.top-stage :nth-child(5) {
    left: 0px;
    top: 130px;
}

.top-stage :nth-child(6) {
    left: -50px;
    top: 145px;
}

.top-stage :nth-child(7) {
    left: -100px;
    top: 160px;
}

.top-stage :nth-child(8) {
    left: -150px;
    top: 185px;
}

.middle-stage :nth-child(1) {
    left: -100px;
    top: 20px;
}

.middle-stage :nth-child(2) {
    left: -50px;
    top: 35px;
}

.middle-stage :nth-child(3) {
    left: 0px;
    top: 50px;
}

.middle-stage :nth-child(4) {
    left: 50px;
    top: 65px;
}

.middle-stage :nth-child(5) {
    left: 100px;
    top: 80px;
}

.middle-stage :nth-child(6) {
    left: 130px;
    top: 125px;
}

.middle-stage :nth-child(7) {
    left: 80px;
    top: 140px;
}

.middle-stage :nth-child(8) {
    left: 30px;
    top: 155px;
}

.middle-stage :nth-child(9) {
    left: -20px;
    top: 170px;
}

.middle-stage :nth-child(10) {
    left: -70px;
    top: 185px;
}

.middle-stage :nth-child(11) {
    left: -120px;
    top: 200px;
}

.middle-stage :nth-child(12) {
    left: -175px;
    top: 205px;
}

.bottom-stage :nth-child(1) {
    left: -150px;
    top: 30px;
}

.bottom-stage :nth-child(2) {
    left: -100px;
    top: 45px;
}

.bottom-stage :nth-child(3) {
    left: -50px;
    top: 60px;
}

.bottom-stage :nth-child(4) {
    left: 0px;
    top: 75px;
}

.bottom-stage :nth-child(5) {
    left: 50px;
    top: 90px;
}

.bottom-stage :nth-child(6) {
    left: 105px;
    top: 105px;
}

.bottom-stage :nth-child(7) {
    left: 80px;
    top: 150px;
}

.bottom-stage :nth-child(8) {
    left: 30px;
    top: 165px;
}

.bottom-stage :nth-child(9) {
    left: -20px;
    top: 180px;
}

.bottom-stage :nth-child(10) {
    left: -70px;
    top: 195px;
}

.bottom-stage :nth-child(11) {
    left: -120px;
    top: 210px;
}

.bottom-stage :nth-child(12) {
    left: -175px;
    top: 215px;
}

.bottom-stage :nth-child(13) {
    left: -225px;
    top: 225px;
}

@keyframes orange {
    0% {
        background-color: orange
    }

    100% {
        background-color: darkblue
    }
}


@keyframes darkblue {
    0% {
        background-color: darkblue
    }

    100% {
        background-color: orange
    }
}